{% extends "revealjs-basic/page.html" %}

{% block extrahead %}
    {{ super() }}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ twitter_site }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site_base_url }}/{{ meta.ogp_event_name }}/{{ meta.ogp_slide_name }}.html">
    <meta property="og:title" content="{{ meta.ogp_title }}">
    <meta property="og:description" content="{{ meta.ogp_description }}">
    <meta property="og:image" content="{{ site_base_url }}/_static/ogps/{{ meta.ogp_image_name }}.png">
{% endblock extrahead %}
